<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="wrap">
    <form action="/login" method="post">
      <h2>Sign in</h2>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label for="psw"><b>Password</b></label>
        <input type="password" name="password" placeholder="Enter Password" />

        <button type="submit" value="login">Login</button>
        <label>
          <input type="checkbox" /> Remember me
          <span class="psw">Forgot <a style="color: blue">Username/password?</a></span>
        </label>
      </div>

      <div class="centerW">
        <p>
          don't have an account?
        </p>
      </div>
      <div class="centerW">
        <p style="color:red">
          Sign Up Now
        </p>
      </div>
  </div>
  </form>
</body>

</html>